<h2>{{name}}</h2>

<div class="entstats">
{{#each stats}}
	{{@key}}: {{this}}<br />
{{/each}}
</div>

<h2>Genome</h2>
<div class="entstats genome">
{{#each genome}}
	{{@key}}: {{this}}<br />
{{/each}}
</div>