<div class="stats">
	<span class="points">Points: {{points}}</span>
	<strong>Herd: </strong>
	{{#each stats}}
		{{@key}}:{{this}}
	{{/each}}
	</div>
	<div class="objectives">
	<strong>Objectives:</strong>
	<ul>
		{{#each objectives}}
		<li class="{{#done}}done{{/done}}">
			<div class="objective-title">{{{title}}}</div>
			<div class="objective-text">{{{text}}}</div>
		</li>
		{{/each}}
	</ul>
</div>