<html>

	<head>
		<title>LD31 Game</title>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/ui.css" />
		<script type="text/javascript">
			var env = {
				prod : {{#if prod}}true{{else}}false{{/if}}
			};
		</script>
	</head>

	<body>
		<!-- Canvas -->
		<h1>LD31!</h1>
		<div id="container">

		</div>
		<div id="footer">
			<a href="https://bitbucket.org/zix99/ld31">LD31 on Bitbucket</a> |
			<a href="http://www.pontooncity.net">Home</a>
		</div>

		<h3>Instructions</h3>
		<p>Protect the herbivores (green) at all costs!</p>
		<p>Use totems and fireballs to ward off the carnivores (red)</p>
		<p>Plant trees if the herbivores get hungry and are having trouble surviving</p>
		<p>Look at the objectives for move on to the next level</p>

		<!-- JS -->
		<script type="text/javascript" data-main="main" src="lib/require.js"></script>

		{{#prod}}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-38044682-5', 'auto');
		  ga('send', 'pageview');

		</script>
		{{/prod}}
	</body>

</html>