#container{
	position:relative;
	margin: 0 auto;
}

.ui{
	position: absolute;
	top: 0px;
	left: 0px;
}

.ui .dialog{
	position: absolute;
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
}

.ui .box {
	background-color: #000;
	padding: 16px;
	opacity: 0.7;
	border: 1px solid #222;
	border-radius: 4px;
	box-shadow: 3px 3px 5px #000;
}

.ui input {
	background-color: #eee;
	font-size: 14px;
	border: 1px solid #000;
	font-weight: bold;
	padding: 4px;
}

.ui .button {
	text-decoration: none;
	display: inline-block;
	padding: 8px;
	margin: 4px;

	background-color: #444;

	text-align: center;
}
.ui .button:hover {
	background-color: #666;
}

.ui .button:active {
	background-color: #787;
}




.ui .stats {
	background-color: #77a;
	color: #fff;
	padding: 4px;
	opacity: 0.75;
}

.ui .genome {
	font-size: 10px;
}

.ui .objectives {
	background-color: #333;
	opacity: 0.5;
}

.ui .objectives li {
	padding: 4px;
}

.ui .points {
	background-color: #090;
	padding: 4px;
}

.done {
	text-decoration: line-through;
}

.objective-title{
	font-weight: bold;
	font-size: 13px;
}
.objective-text{
	font-size: 10px;
}

.ui .messagecenter{
	font-size: 9px;
}

.red
{
	color: #a00;
}